services:
  n8n:
    image: n8nio/n8n:latest
    container_name: n8n
    restart: always
    ports:
      - "5678:5678"
    environment:
      - N8N_HOST=localhost
      - N8N_PORT=5678
      - N8N_PROTOCOL=http
      - NODE_ENV=production
      - WEBHOOK_URL=http://localhost:5678/
      - GENERIC_TIMEZONE=America/Denver
    volumes:
      - n8n_data:/home/node/.n8n
      # Mount the local certs folder into the container at /certs
      - ./certs:/certs:ro

volumes:
  n8n_data:
